@model Grade

@using (Html.BeginForm("Create", "Grades", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.StudentId)
        <div class="col-md">
            @Html.TextBoxFor(model => model.StudentId)

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CourseId)
        <div class="col-md">
            @Html.TextBoxFor(model => model.CourseId)

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mark)
        <div class="col-md">
            @Html.TextBoxFor(model => model.Mark)

        </div>
    </div>
    <input type="submit" value="Dodaj film " class="btn btn-primary " />
}