@model IEnumerable<Student>
@{
    ViewData["Titled"] = "Lista Studentów";
}

<p>
    @Html.ActionLink("Dodaj studenta", "Create", "Students")
</p>


<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Index)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Id);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Name);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.LastName);
                </td>
                <td>
                    @{
                        var FieldName = student.Field.Name;
                        @Html.DisplayFor(name => FieldName);
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Index);
                </td>
                <td>
                    @Html.ActionLink("Usun", "Delete", "Students", routeValues: new { Id = student.Id });
                </td>

            </tr>
        }
    </tbody>
</table>